<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://res.cloudinary.com/drpgvnojt/image/upload/v1696139441/WhatsApp_Image_2023-10-01_at_11.19.01_76436c15_scfkah.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="groups.css" />
    <title></title>
  </head>
  <body>
    <%- include("layout/subbootstrap.ejs") %>
    <p>Select Your Branch</p>
    <div class="box">
      <a href="/cse31" class="ar">&#128187; CSE &#128187;</a>
      <a href="/ece31" class="ar">&#8961; ECE &#8961;</a>
      <a href="/eee31" class="ar"> &#x1F4A1; EEE &#x1F4A1;</a>
      <a href="/civil31" class="ar"> 🏛️ CIVIL 🏛️ </a>
      <a href="/mech31" class="ar">👨‍🔧 MECH 👨‍🔧 </a>
    </div>
  </body>
</html>
