<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <p>Select Your Branch</p>
 <a href="/cse42">CSE</a>
<a href="/ece42">ECE</a>
<a href="/eee42">EEE</a>
<a href="/civil42">CIVIL</a>
<a href="/mech42">MECH</a>
</body>
</html>