<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEC</title>
</head>
<body>
<h1>Analog Electronic Circuits</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="" download="">aec1</a></li>
<li>Unit-2 :- <a href="" download="">aec2</a></li>
<li>Unit-3 :- <a href="" download="">aec3</a></li>
<li>Unit-4 :- <a href="" download="">aec4</a></li>
<li>Unit-5 :- <a href="" download="">aec5</a></li>
</ul>
</body>
</html>