<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEC</title>
  </head>
  <body>
    <h1>Fundamentals of Electrical Circuits</h1>
    <h2>Pdf Files</h2>
    <ul>
      <li>Unit-1 :- <a href="/fec1.pdf">fec1</a></li>
      <li>Unit-2 :- <a href="/fec2.pdf">fec2</a></li>
      <li>Unit-3 :- <a href="/fec3.pdf">fec3</a></li>
      <li>Unit-4 :- <a href="/fec4.pdf">fec4</a></li>
      <li>Unit-5 :- <a href="/fec5.pdf">fec5</a></li>
    </ul>
    <script>
      const toggle = (a = "myLinks", b = "i") => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", "fas fa-chevron-down");
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", "fas fa-chevron-up");
        }
      };
    </script>
  </body>
</html>
