<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="https://res.cloudinary.com/drpgvnojt/image/upload/v1696139441/WhatsApp_Image_2023-10-01_at_11.19.01_76436c15_scfkah.jpg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Open+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <%- include("layout/bootsrap.ejs") %>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="home.css" />
    <title>Years</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="font-family: 'Inconsolata', monospace;" id="navbar">
  <a class="navbar-brand " style="margin-top: 0.2rem; color: black;"><img src="https://res.cloudinary.com/drpgvnojt/image/upload/c_crop,w_400,h_100/v1697041714/Sponym_1_eazof2.png" style="width: 150px !important; height: 38px !important;" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
  <li class="nav-item active">
        <a class="nav-link" href="/" style="font-weight: 600; font-size: large; margin-top: 0.25rem; color: rgb(4, 4, 49); " id="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home" style="font-weight: 600; font-size: large; margin-top: 0.25rem; color: rgb(4, 4, 49); " id="STAY">JNTUA <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/allsubjects" style="font-weight: 600; font-size: large; margin-top: 0.25rem;color: rgb(1, 1, 26); "id="STAY1">Subjects</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link"  href="/syllabus" style="font-weight: 600; font-size: large; margin-top: 0.25rem;color: rgb(3, 3, 40); "id="STAY2">Syllabus</a>
      </li>
<li class="nav-item active" >
        <a class="nav-link"  href="/updates" style="font-weight: 600; font-size: large; margin-top: 0.25rem;color: rgb(3, 3, 40); "id="STAY3">Updates</a>
      </li>
      <!-- <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="font-weight: 600; font-size: large;">
          Dropdown link
        </a>
        <div class="dropdown-menu bg-none" aria-labelledby="navbarDropdownMenuLink" style="background-color: beige;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
<!-- style="background-color:rgb(208, 220, 164) !important;" -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div style="display: inline-block">
      <div id="texts">
        <div class="img">
          <img
            src="https://res.cloudinary.com/drpgvnojt/image/upload/v1696257961/boy_on_graduation-rafiki_cgiydg.png"
            alt="Image"
            style="float: right; margin-right: 10px"
          />
        </div>
        <h1 class="head">JNTUA</h1>
        <div class="jntuainfo">
          JNTU was trifurcated into three independent universities viz., JNTU
          Hyderabad, JNTU Kakinada and JNTU Anantapur. JNTU College of
          Engineering, Anantapur became a constituent college of JNTUA and was
          renamed as JNTUA College of Engineering, Anantapur.JNTUA has 98
          Engineering Colleges, 33 Pharmacy Colleges and 29 stand-alone MBA/MCA
          colleges affiliated to it.Since its inception, JNTUA is committed to
          develop and nurture technological education and intends to produce
          technical manpower of high quality, comparable to the best in the
          world. <a href="https://www.jntua.ac.in/">Jntua</a>
        </div>
      </div>
    </div>
    <div class="container" style="display: inline-block">
      <div class="img">
        <img
          src="https://res.cloudinary.com/drpgvnojt/image/upload/v1696436160/Graduation-rafiki_kkovro.png"
          alt=""
          style="float: left; margin-right: 10px"
        />
      </div>
      <div class="jntuanav">
        <p class="r20">Jntua Regulation R20</p>
        <ul>
          <li><a href="/syllabus" class="jntuastuff">Syllabus</a></li>
          <li><a href="/semester" class="jntuastuff">Semester Notes etc</a></li>
          <li><a href="/updates" class="jntuastuff">Updates</a></li>
        </ul>
      </div>
    </div>
 <a href="https://storyset.com/people" style="display: block;">People illustrations by Storyset</a>
 
    <!-- <a href="https://storyset.com/people">People illustrations by Storyset</a> -->
    <!-- <form action="/syllabus">Syllabus :<button>Syllabus</button></form> -->
  </body>
</html>
