<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAC</title>
</head>
<body>
<h1>Linear Algebra and Calculus</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/lac1.pdf">lac1</a></li>
<li>Unit-2 :- <a href="/lac2.pdf">lac2</a></li>
<li>Unit-3 :- <a href="/lac3.pdf">lac3</a></li>
<li>Unit-4 :- <a href="/lac4.pdf">lac4</a></li>
<li>Unit-5 :- <a href="/lac5.pdf">lac5</a></li>
</ul>
<a href="https://youtu.be/ZcMyUftHpVY?si=LcNpxnIgWioqKnIc">Eigen Values And Eigen Vectors</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbSBg75NJbbLrC8CrYRAY3t5&si=8QW0PkuMdq99eKSm">Mean Value Theorem</a>
<a href="https://youtube.com/playlist?list=PLeIE3weEKo4auIqgGS3PIdVq0BN09p3kP&si=6q-yUL0avIEu6tpc">Multivariable Calculus</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbRQlZUDEYLGANMtoJhwRuaV&si=DBYoj1Q5mpPMZYMP">Multiple Integrals</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbTsgJQQ74eZxPvQdvyV7yYD&si=lBNCEOYYWsymENV3">Betta And Gamma Functions</a>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>