<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="choosesubj.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("layout/subbootstrap.ejs") %>
    <p>Select Subject</p>
    <div class="box">
      <a href="" class="ar">MMM</a>
      <a href="" class="ar">DFM</a>
      <a href="" class="ar">Automobile Engineering</a>
      <a href="" class="ar">Mechanics and MEMS</a>
      <a href="" class="ar">Management Science</a>
    </div>
  </body>
</html>
