<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML</title>
</head>
<body>
<h1>Machine Learning</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/ml1.pdf" >ml1</a></li>
<li>Unit-2 :- <a href="/ml2.pptx" >ml2(ppt)</a></li>
<li>Unit-3 :- <a href="/ml3.pptx" >ml3(ppt)</a></li>
<li>Unit-4 :- <a href="/ml4.pptx" >ml4(ppt)</a></li>
<li>Unit-5 :- <a href="/ml5.pptx" >ml5(ppt)</a></li>
</ul>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>