<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDS</title>
</head>
<body>
<h1>Python Programming & Data Science</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/pds1.pdf" >pds1</a></li>
<li>Unit-2 :- <a href="/pds2.pdf" >pds2</a></li>
<li>Unit-3 :- <a href="/pds3.pdf" >pds3</a></li>
<li>Unit-4 :- <a href="/pds4.pdf" >pds4</a></li>
<li>Unit-5 :- <a href="/pds5.pdf" >pds5</a></li>
</ul>
<a href="https://youtube.com/playlist?list=PLdo5W4Nhv31bZSiqiOL5ta39vSnBxpOPT&si=qfRywF-ArAUc5qvi">Python Programming</a>
<a href="https://youtube.com/playlist?list=PL9n0l8rSshSnragNblKDBsT8Xu3otp3jA&si=WdLTs3wA7gis4MF6">Numpy,Pandas & Matplotlib</a>
<a href="https://youtube.com/playlist?list=PLmcndht8X48yz9XAxBS_LxaexXVDHsU_W&si=k8jy0KFSYhpm-fe4">Machine Learning </a>
<a href="https://youtube.com/playlist?list=PL0mBkJRroMHQowsPJ3lVId-eHpEg6TOjC&si=guz7_TsxOmc5Y5jO">Deep Learning</a>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>