<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P & S</title>
</head>
<body>
<h1>Probablility & Statistics</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/ps1.pdf" >ps1</a></li>
<li>Unit-2 :- <a href="/ps2.pdf" >ps2</a></li>
<li>Unit-3 :- <a href="/ps3.pdf" >ps3</a></li>
<li>Unit-4 :- <a href="/ps4.pdf" >ps4</a></li>
<li>Unit-5 :- <a href="/ps5.pdf" >ps5</a></li>
</ul>
<a href="https://youtu.be/iXYhOeudeWo?si=ZCfBINZitkzPP4hN">Regression</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbQkcTQJB6q2riVwpIsobwdo&si=dSuOV4OM43pBvnYQ">Probabilit Distributions</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbQlMwp1GjCspm_lL2DIQFdp&si=lYrRfc0Sw-gZC3wZ">Large Sample Test</a>
<a href="https://youtube.com/playlist?list=PL-m5AYudsZbR73PXk1XakFITL_HsZL8u1&si=QCgxbJc5u2tvdEds">Small Sample Test</a>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>