<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ST</title>
</head>
<body>
<h1>Software Testing</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/st1.pdf">st1</a></li>
<li>Unit-2 :- <a href="/st2.docx">st2(word)</a></li>
<li>Unit-3 :- <a href="/st3.pdf">st3</a></li>
<li>Unit-4 :- <a href="/st4.docx">st4(word)</a></li>
<li>Unit-5 :- <a href="/st5.docx">st5(word)</a></li>
</ul>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>