<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VLSI</title>
</head>
<body>
<h1>Basic VLSI Design</h1>
<h2>Pdf Files</h2>
<ul>
<li>Unit-1 :- <a href="/vlsi1.pdf" >vlsi1</a></li>
<li>Unit-2 :- <a href="/vlsi2.pdf" >vlsi2</a></li>
<li>Unit-3 :- <a href="/vlsi3.pdf" >vlsi3</a></li>
<li>Unit-4 :- <a href="/vlsi4.pdf" >vlsi4</a></li>
<li>Unit-5 :- <a href="/vlsi5.pdf" >vlsi5</a></li>
</ul>
    <script>
      const toggle = (a='myLinks',b='i') => {
        const x = document.getElementById(a);
        const icon = document.getElementById(b);
        if (x.style.display === "block") {
          x.style.display = "none";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-down');
        } else {
          x.style.display = "block";
          const data = icon;
          data.setAttribute("class", 'fas fa-chevron-up');
        }
      };
    </script>
</body>
</html>